# Development Tools
brew "openssl@3"
brew "cmake"
brew "readline"
brew "xz"
brew "cookiecutter"
brew "node"
brew "firebase-cli"
brew "htop"
brew "ios-deploy"
brew "node@22"
brew "nvm"
brew "pipx"
brew "pyenv"
brew "python@3.12"
brew "swift-format"
brew "swiftformat"
brew "swiftlint"
brew "tcl-tk"
brew "tree"
brew "xcbeautify"
brew "xcode-build-server"
brew "zlib"
brew "ollama"
brew "git"
brew "mas"

# Mac Applications (Cask)
cask "visual-studio-code"
cask "temurin"
cask "disk-inventory-x"
cask "textsniper"
cask "obsidian"
cask "sf-symbols"
cask "cursor"
cask "commander-one"
cask "utm"
cask "db-browser-for-sqlite"
cask "spotify"
cask "chatgpt"
cask "logi-options+"

# Mac App Store Apps
mas "TestFlight", id: 899247664
mas "Affinity Designer", id: 824171161
mas "Pixelmator Classic", id: 407963104
mas "Slack for Desktop", id: 803453959
mas "Speedtest by Ookla", id: 1153157709
mas "Apple Configurator", id: 1037126344
mas "Tabs Saver for Safari", id: 1440006971
mas "Obsidian Web Clipper", id: 6720708363


# VS Code Extensions
vscode "george-alisson.html-preview-vscode"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "llvm-vs-code-extensions.lldb-dap"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "swiftlang.swift-vscode"
vscode "vadimcn.vscode-lldb"
vscode "yzhang.markdown-all-in-one"
